   body {
            margin: 0;
            padding: 0;
            overflow: hidden;
    }
        
   .iframe-container {
   min-height: 100px;
   display: flex;
  align-items: center; /* Untuk mengatur ke tengah secara vertikal */
  justify-content: center;
   background:#fff url("prelo.gif") no-repeat 50% center !important;
    }
        
    iframe {
        position:fixed; 
        top:0px; 
        left:0px; 
        bottom:0px; 
        right:0px; 
        width:100%; 
        height:100%; 
        border:none; margin:0; 
        padding:0; 
        overflow:hidden; 
        z-index:999999;
       }
        
